<%- include("header") -%>
<div class="p-head">
    <h1>HISTORY</h1>
    <video class="test"  controls preload="auto" poster="new1.jpg">
        <source src="Brand/brand.mp4" type="video/mp4">
      </video>
</div>
<div class="history">
    <div class="pamp">
        <img class="test , pampi" src="/history2.avif">
        <div class="pamp-c">
            <h1>LADIES WATCHES</h1>
            <p>
                There is a strong parallel between the evolution of fashion and the watches that Tissot has been creating for women since 1853.</p>
        </div>
    </div>
    <div class="pamp">
        <div class="pamp-c">
            <h1>LOGO</h1>
            <p>
                In 1880, Tissot registered its first logo, following the entry into force of the first Swiss Trademark Protection Act. It then underwent numerous changes, following the evolution of the brand.</p>
        </div>
        <img class="test , pampi" src="/history1.jpg">
    </div>
    <div class="pamp">
        <img class="test , pampi" src="/history0.webp">
        <div class="pamp-c">
            <h1>ADVERTISING FILMS</h1>
            <p>
                
The first advertising films produced by Tissot were screened in cinemas in the 1940s, already in several languages, due to the diversity of its markets.</p>
        </div>
    </div>
    <div class="pamp">
        <div class="pamp-c">
            <h1> NON-MAGNETISM</h1>
            <p>
               
By the 1920s, electricity has become part of daily life, but it magnetizes watches and affects their precision.
In 1930, to solve this problem, Tissot creates the world’s first non-magnetic wristwatch.</p>
        </div>
        <img class="test , pampi" src="/history3.avif">
    </div>
    <div class="pamp">
        <img class="test , pampi" src="/history4.webp">
        <div class="pamp-c">
            <h1> CAR RACING</h1>
            <p>
               
The story between Tissot and car racing began when Swiss driver Harry Zweifel sent Tissot a signed photograph in 1958, where he had written: “Meine Tissot ist an jedem Rennen dabei” (“My Tissot is by my side at every race”).</p>
        </div>
    </div>
     
</div>
<%- include("footer") -%>