<%- include("header") -%>
<div class="p-head">
    <h1>AMBASSADORS</h1>
</div>
<div class="history">
    <div class="pamp">
        <img class="test , pampi" src="/Brand/1.webp">
        <div class="pamp-c">
            <h1>DAMIAN LILLARD</h1>
            <p>
               Lillard won the NBA Rookie of the Year Award in 2013. Loyal to the Trail Blazers, rising to legendary status. The NBA All-Star Damian Lillard is a once in a generation athlete with his own unique approach to watches. ” I like attractive, accessible watches that adapt to every style. That’s why I love Tissot.”</p>
        </div>
    </div>
    <div class="pamp">
        <div class="pamp-c">
            <h1>PRIMOŽ ROGLIČ</h1>
            <p>
                Primož Roglič is a cycling champion with a unique career path. Born in former Yugoslavia, having won several international titles. The Slovenian champion had joined the world’s elite and won multiple races, including La Vuelta, Liège-Bastogne-Liège and the Tour de Romandie. He has achieved numerous Grand Tour podium finishes and in 2020, was named no.1 road cyclist in the UCI World Ranking. “Time measurement is an essential part of my life and my career. For me, this association with Tissot makes perfect sense.”</p>
        </div>
        <img class="test , pampi" src="/Brand/2.avif">
    </div>
    <div class="pamp">
        <img class="test , pampi" src="/Brand/3.webp">
        <div class="pamp-c">
            <h1>CLINT CAPELA</h1>
            <p>
                
                Born to an Angolan father and a Congolese mother, Capela discovered basketball at the age of 13 at the Swiss club of Meyrin, not far from Geneva. His basketball journey led him to the NBA in 2014 when he was drafted by the Houston Rockets. “I'm a Swiss athlete, Tissot is a Swiss brand, so we had a natural connection”</p>
        </div>
    </div>
    <div class="pamp">
        <div class="pamp-c">
            <h1> LUO YUNXI</h1>
            <p>
               
                Luo Yunxi, a popular Chinese actor, got a start by playing a role in the TV drama My Sunshine, after graduated from Shanghai Theatre Academy. He has subsequently starred in a number of excellent television works.</p>
        </div>
        <img class="test , pampi" src="/Brand/4.avif">
    </div>
    <div class="pamp">
        <img class="test , pampi" src="/Brand/5.avif">
        <div class="pamp-c">
            <h1> HUANG XIAOMING</h1>
            <p>
               
                By turns a martial arts teacher, a general, a sniper and an emperor, Huang Xiaoming has a string of roles – and successes – to his name. This Chinese actor, singer and model, a graduate of the Beijing Film Academy. Huang Xiaoming is fond of saying: “Details are at the heart of everything.” A philosophy and a character that immediately captivated Tissot.</p>
        </div>
    </div>
    <div class="pamp">
        <div class="pamp-c">
            <h1> TONY PARKER</h1>
            <p>
               
                Everyone feels the same about Tony Parker: now, when he is honourably retired, and back when he was still playing for the San Antonio Spurs and the Charlotte Hornets. Standing 1.88 m in height, the four-time NBA champion and six-time All-Star is down-to-earth , all values he shares with our brand. The Frenchman now wants just one thing: to inspire the next generation and pass on his experience to it.</p>
        </div>
        <img class="test , pampi" src="/Brand/7.avif">
    </div>
    <div class="pamp">
        <img class="test , pampi" src="/Brand/8.avif">
        <div class="pamp-c">
            <h1> ENEA BASTIANINI</h1>
            <p>
               
                The Rimini-born Bastianini was destined to ride a motorbike. Although he used to be a talented gymnast and diver, he wanted to become a legend at one thing - motorcycle racing. He first got in the saddle at the age of three years and three months, which is why 33 becomes his number of choice. The sport came naturally to him, but to get to the top, it required extra dedication and commitment.</p>
        </div>
    </div>
     
</div>
<%- include("footer") -%>