<%- include("header") -%>
<div class="contact-contain">
    <h1>CONTACT US BY EMAIL</h1>
        <h3>Please complete the following information and our advisers will get back to you as soon as possible.</h3>
    <div class="contact-head">
        <div>
            <form action="/contact" method="post"  class="contact-details" >
                <h3>NAME</h3>
                <input  class="form-control" type="text" name="email" label="Email" placeholder="Name" required="" autofocus="" />
                <h3>EMAIL</h3>
                <input  class="form-control" type="text" name="email" label="Email" placeholder="Email address" required="" autofocus="" />
        
                <h3>ADDRESS</h3>
                <textarea class="form-control" type="text" name="textarea" placeholder="Address"  autofocus="" rows="5" cols="50"></textarea>
                
                <h3>PROBLEM DESCRIPTION</h3>
                <textarea class="form-control" type="text" name="textarea" placeholder="tell us more"  autofocus="" rows="10" cols="70"></textarea>
                <h3>CONTACT NO</h3>
                <input  class="form-control" type="text" name="email" placeholder="Phone no"  required="" autofocus="" />
                <button class="acc-btn , service-btn" name="acc" value="register" type="Submit">Send</button>
            </form>
        </div>
        <div class="contact">
            <div class="con">
                <h3>ONLINE ORDERS SUPPORT</h3>
                  <p>If you have any questions regarding your online order <br><p>please contact us on the following number:</p></p>
                  1(866)462-0050
                  <p>Between 9 am - 7 pm EST (Monday to Friday only)</p>
            </div>
            <div class="con">
                <h2>CUSTOMER SERVICE ADDRESSES</h2>
                <h4>NEW JERSEY</h4> <br>
                 <p>Swatch Group US<br>
                 55 Metro Way, Suite #1<br>
                 Secaucus, NJ 07094<br>
                 United States<br></p>
        
                 Website :<br>
                 www.sguscustomerservice.com<br>
                 Phone:1(877)839-5224<br>
        
                 <h4>CALIFORNIA</h4><br>
                 Swatch Group US<br>
                 600 Corporate Pointe, Suite #110<br>
                 Culver City, CA 90230<br>
                 United States<br>
        
                 Website :<br>
                 www.sguscustomerservice.com<br>
                 Phone:1(877)839-5224<br>
        
                 <h4>FLORIDA</h4><br>
                 Swatch Group US<br>
                 5301 Blue Lagoon Drive, Suite #610<br>
                 Miami, FL 33126<br>
                 United States<br>
        
                 Website :<br>
                 www.sguscustomerservice.com<br>
                 Phone:1(877)839-5224<br>
            </div>
       </div>
    </div>
</div>


<%- include("footer") -%>