<%- include("header") -%>
    <div class="discover">
        <div class="dis">
            <h1 class="home-container">Grab<br>Our Latest<br> Collection</h1>
            <img class="test" src="/new.jpg" >
        </div>
        <div class="watches">
            <a href="/payment" class="watch">
                <img src="/discover/1.avif">
                <h2>Tissot Seastar Quartz</h2>
                <h2>Buy Now</h2>
                <h2>$750.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/discover/2.avif">
                <h2>Tissot Seastar Quartz</h2>
                <h2>Buy Now</h2>
                <h2>$750.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/discover/3.avif">
                <h2>Tissot Seastar Quartz</h2>
                <h2>Buy Now</h2>
                <h2>$750.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/discover/4.avif">
                <h2>Tissot Seastar Quartz</h2>
                <h2>Buy Now</h2>
                <h2>$750.00</h2>
            </a>
        </div>
        <div class="watches">
            <a href="/payment" class="watch">
                <img src="/discover/5.avif">
                <h2>Tissot Seastar king</h2>
                <h2>Buy Now</h2>
                <h2>$850.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/discover/6.avif">
                <h2>Tissot Seastar king</h2>
                <h2>Buy Now</h2>
                <h2>$850.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/discover/7.avif">
                <h2>Tissot Seastar king</h2>
                <h2>Buy Now</h2>
                <h2>$850.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/discover/8.avif">
                <h2>Tissot Seastar king</h2>
                <h2>Buy Now</h2>
                <h2>$850.00</h2>
            </a>
        </div>
        <div class="watches">
            <a href="/payment" class="watch">
                <img src="/discover/9.avif">
                <h2>Tissot Seastar star</h2>
                <h2>Buy Now</h2>
                <h2>$800.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/discover/10.avif">
                <h2>Tissot Seastar star</h2>
                <h2>Buy Now</h2>
                <h2>$800.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/discover/11.avif">
                <h2>Tissot Seastar star</h2>
                <h2>Buy Now</h2>
                <h2>$800.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/discover/12.avif">
                <h2>Tissot Seastar star</h2>
                <h2>Buy Now</h2>
                <h2>$800.00</h2>
            </a>
        </div>
        <div class="watches">
            <a href="/payment" class="watch">
                <img src="/discover/13.avif">
                <h2>Tissot Seastar shell</h2>
                <h2>Buy Now</h2>
                <h2>$900.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/discover/14.avif">
                <h2>Tissot Seastar shell</h2>
                <h2>Buy Now</h2>
                <h2>$900.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/discover/15.avif">
                <h2>Tissot Seastar shell</h2>
                <h2>Buy Now</h2>
                <h2>$900.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/discover/16.avif">
                <h2>Tissot Seastar shell</h2>
                <h2>Buy Now</h2>
                <h2>$900.00</h2>
            </a>
        </div>
    </div>
    <%- include("footer") -%>