</div>
<div class="footer-padding"></div>
<footer class="footer">
    <div class="row">
        <div class="f-col">
            <h4>Customer Service</h4>
            <ul class="f-col-ul">
                <li><a href="/contactus">Contact us</a></li>
                <li><a href="/Reviews">Reviews</a></li>

            </ul>
        </div>
        <div class="f-col">
            <h4>Legal & Corporate</h4>
            <ul class="f-col-ul">
                <li><a href="/termsofservice">Terms of Use</a></li>
                <li><a href="/privacy">Privacy Notice</a></li>
                <li><a href="/privacynotice">Privacy notice for Californian</a></li>
            </ul>
        </div>
        <div class="f-col">
            <h4>Follow Us</h4>
            <ul class="foot-icon">
                <li><a href="https://www.facebook.com/Tissot/">
                    <img src="/facebook.png">
                </a></li>
                <li><a href="https://www.instagram.com/tissot_official/">
                    <img src="/instagram.png">
                </a></li>
                <li><a href="https://twitter.com/TISSOT/status/1217407329915764742">
                    <img src="/twitter.png">
                </a></li>
            </ul>
        </div>
        <div class="f-col-news">
            <form class="news-in" action="/footreg" method="post" >
                <h4>Email Handle</h4>
                <input  class="form-control" type="text" name="email" label="Email" placeholder="Email address"/>
                <p>
                    <input type="checkbox">
                    By subscribing you agree to your personal<br>data being processed by Tissot for this<br>purpose and confirm that you have read<br>and understood our <a class="foot-a" href="/privacy">Privacy Notice.</a></p>
                <button class="f-btn" name="account" value="Login" type="Submit">Subscribe</button>
                
            </form>
        </div>

    </div>
    <div><p>© 2023, Tissot Watch Co Ltd. All Rights Reserved</p></div>
</footer>
</body>
</html>