<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tissot</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="/css/tissot.css">
</head>
<body>
<navbar class="nav">
    <div class="box1">
        <div class="box1-c">Contact Us +1-866-462-0050</div>
    </div>
    <div class="spa">
        <div class="spa-col">
            <a href="/discover">Collection</a>
            <a href="/Men">Men</a>
            <a href="/Women">Women</a>
        </div>
        <div class="spa-im">
            <a href="/" >
                <img class="box2-img" src="/logo.jpg">
            </a>
        </div>
        <div class="spa-col-2">
            <a href="/login">Sign in</a>
            <a href="/services">Services</a>
            <a href="/about">About</a>
        </div>
    </div>
</navbar>
<div class="content">
