<%- include("header") -%>
<div class="head-home">
    <div class="home">
        <img class="test" src="/home.jpg">
        <div class="home-container">
            <div class="home-c">
                <form  action="/" method="post">
                    <button  class="acc-btn , home-btn">Discover More</button>               
                </form>
                <p>Discover the Latest collections from Tissot and embrace its beauty</p>
            </div>
        </div>
    </div>
    <div class="home , m-him">
        <div class="home-t , home-him">
            <div class="home-c">
                <form action="/home1" method="post">
                    <button name="" class="acc-btn , t-btn">Watches For Him</button>               
                </form>
            </div>
        </div>
        <div class="home-img">
            <img class="test" src="/him.avif">
        </div>
    </div>
    <div class="home , m-her">
        <div class="home-img">
            <img class="test" src="/her.avif">
        </div>
        <div class="home-t , home-her">
            <div class="home-c">
                <form action="/home2" method="post">
                    <button name="" class="acc-btn , t-btn">Watches For Her</button>               
                </form>
            </div>
        </div>
    </div>
    <div class="home-rev">
        <div class="rev , cus">
            <form action="/home3" method="post">
                <button  class="acc-btn , r-btn">Customer Reviews</button>
            </form>
        </div>
        <div class="rev , news">
            <form action="/home4" method="post">
                <button  class="acc-btn , r-btn">Newsletter</button>
            </form>
        </div>

    </div>
    <div class="home-last">
        <form action="/home5" method="post">
            <button  class="acc-btn , r-btn , l-btn">BRAND</button>
        </form>
    </div>
</div>

<%- include("footer") -%>