<%- include("header") -%>
    <div class="discover">
        <div class="dis">
            <h1 class="home-container">Grab<br>Our Latest<br>Men's Collection</h1>
            <img class="test" src="/male.avif" >
        </div>
        <div class="watches">
            <a href="/payment" class="watch">
                <img src="/Men/1.avif">
                <h2>Tissot Seastar Skeleton</h2>
                <h2>Buy Now</h2>
                <h2>$700.23</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Men/2.avif">
                <h2>Tissot Seastar Skeleton</h2>
                <h2>Buy Now</h2>
                <h2>$700.23</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Men/3.avif">
                <h2>Tissot Seastar Skeleton</h2>
                <h2>Buy Now</h2>
                <h2>$700.23</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Men/4.avif">
                <h2>Tissot Seastar Skeleton</h2>
                <h2>Buy Now</h2>
                <h2>$700.23</h2>
            </a>
        </div>
        <div class="watches">
            <a href="/payment" class="watch">
                <img src="/Men/5.avif">
                <h2>Tissot Seastar Premium</h2>
                <h2>Buy Now</h2>
                <h2>$1000.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Men/6.avif">
                <h2>Tissot Seastar Premium</h2>
                <h2>Buy Now</h2>
                <h2>$1000.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Men/7.avif">
                <h2>Tissot Seastar Premium</h2>
                <h2>Buy Now</h2>
                <h2>$1000.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Men/8.avif">
                <h2>Tissot Seastar Premium</h2>
                <h2>Buy Now</h2>
                <h2>$1000.00</h2>
            </a>
        </div>
        <div class="watches">
            <a href="/payment" class="watch">
                <img src="/Men/9.avif">
                <h2>Tissot Seastar Sports</h2>
                <h2>Buy Now</h2>
                <h2>$800.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Men/10.avif">
                <h2>Tissot Seastar Sports</h2>
                <h2>Buy Now</h2>
                <h2>$800.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Men/11.avif">
                <h2>Tissot Seastar Sports</h2>
                <h2>Buy Now</h2>
                <h2>$800.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Men/12.avif">
                <h2>Tissot Seastar Sports</h2>
                <h2>Buy Now</h2>
                <h2>$800.00</h2>
            </a>
        </div>
        <div class="watches">
            <a href="/payment" class="watch">
                <img src="/Men/13.avif">
                <h2>Tissot Seastar Classic</h2>
                <h2>Buy Now</h2>
                <h2>$800.50</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Men/14.avif">
                <h2>Tissot Seastar Classic</h2>
                <h2>Buy Now</h2>
                <h2>$800.50</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Men/15.avif">
                <h2>Tissot Seastar Classic</h2>
                <h2>Buy Now</h2>
                <h2>$800.50</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Men/16.avif">
                <h2>Tissot Seastar Classic</h2>
                <h2>Buy Now</h2>
                <h2>$800.50</h2>
            </a>
        </div>
    </div>
    <%- include("footer") -%>