<%- include("header") -%>
<div class="tos">
    <div class="p-head">
        <h1>PRIVACY STATEMENT FOR CALIFORNIANS</h1>
    </div>

<h3>TRANSMIT AND TRANSFER OF PERSONAL INFORMATION TO OTHER COUNTRIES</h3>
If you are unsure whether this Privacy Statement is in conflict with the applicable local rules where you are located, you should not submit your or any other persons personally identifiably information to us. Anyone who accesses, uses or interacts with us, our third party providers or this website who submits personally identifiably information or provides any other information does thereby affirmatively consent to: (i) the international transmission, transfer, processing and/or storage of all such information, including personally identifiably information, to a country which may be deemed to have inadequate data protection and (ii) the collection (including by automated means through cookies and Web beacons), transmission, using, sharing and storage of such information, including personally identifiably information, as provided in this Privacy Statement.

<h3>PHISHING</h3>
 "Phishing" is a scam designed to steal your personal information. If you receive an email that looks like it is from us asking you for your personal information, do not respond. We will never request your password, user name, credit card information or other personal information through email.

Visiting www.tissotwatches.com/en-us/ From Third-Party Sites

 If you are visiting www.tissotwatches.com/en-us/ through a link from another website or search engine, information about your visit to www.tissotwatches.com/en-us/ may be collected by the provider of the other website or search engine. We encourage you to review the privacy policies of these other websites or search engines. You may avoid disclosing your information to these other websites or search engines by entering www.tissotwatches.com/en-us/ directly into the address field of your Internet browser.

<h3>CHILDREN'S PRIVACY</h3>
This website is not directed to children under the age of thirteen and we do not knowingly collect personal information from children under the age of thirteen on the website. If we become aware that we have inadvertently received personal information from a visitor under the age of thirteen on this website, we will delete the information from our records; provided that such access is not unreasonably burdensome or expensive under the circumstances. We recommend that prospective users between the ages of 13 and 17 ask their parents or other legal guardians for permission before sending any information about themselves to anyone over the Internet.

<h3>WHAT ARE MY CALIFORNIA PRIVACY RIGHTS?</h3>
Residents of the State of California may request a list of all third parties to which Tissot has disclosed personal information during the preceding year for the third parties' direct marketing purposes. If you are a California resident and want such a list, you must send a request to us at tissotcustomercare@swatchgroup.com or by contacting us at:

The Swatch Group (U.S.) Inc.

<h3>Division Tissot Customer Service</h3>

55 Metro Way Suite 1

Secaucus, NJ 07094

ATTN: Online Privacy Division

You must provide the statement "Your California Privacy Rights" in the subject field of your e-mail or on the envelope or post card and in the actual request. For all requests, please include your name, street address, city, state, and zip code. We will not accept requests via the telephone or by facsimile. We are not responsible for notices that are not labeled or sent properly, or that do not have complete information.

<h3>HOW TO CONTACT US</h3>
If you have any questions or comments about this Privacy Statement please email us at tissotcustomercare@swatchgroup.com, call us at 1-866-462-0050 or contact us as indicated below:

The Swatch Group (U.S.) Inc.

Division Tissot Customer Service

55 Metro Way Suite 1

Secaucus, NJ 07094

ATTN: Online Privacy Division

If you would like us to update information we have about you or your preferences, please contact us as indicated below:

The Swatch Group (U.S.) Inc.

Division Tissot Customer Service

55 Metro Way Suite 1

Secaucus, NJ 07094

ATTN: Online Privacy Division
Last updated July 18, 2011.
</div>
<%- include("footer") -%>
