<%- include("header") -%>
<div class="p-head , service">
    <h1>CUSTOMER SERVICE</h1>
    <h2>WE ARE HERE TO HELP YOU</h2>
    <h5>NEED HELP WITH YOUR WATCH? YOU'VE COME TO THE RIGHT PLACE</h5>
</div>
<div class="history">
    <div class="pamp">
        <img class="test , pampi" src="ervice/1.avif">
        <div class="pamp-c">
            <h1>SHIPPING TO OUR SERVICE CENTER</h1>
            <p>
                For all watch service inquiries, please contact 1(877) 839-5224 and select option # 1 for Service.
            </p>
        </div>
    </div>
    <div class="pamp">
        <div class="pamp-c">
            <h1>HELPING HAND</h1>
            <p>
                TISSOT BOUTIQUE NOIDA will be delighted to show you its collections of men's and women's Tissot watches.

Come and visit our Tissot store in NOIDA and be captivated by our brand's expertise, which dates back to 1853, and the varied ranges we have created. Come and see for yourself our sporty, elegant-looking watches, which are well known all around the world for their quality and reliability.True to Swiss heritage and tradition, Tissot offers numerous automatic models, all masterpieces of mechanical precision.
           </p>
        </div>
        <img class="test , pampi" src="ervice/2.avif">
    </div>
    <div class="pamp">
        <img class="test , pampi" src="ervice/3.avif">
        <div class="pamp-c">
            <h1>HOW TO SERVICE YOUR WATCH</h1>
            <p>
                You notice your watch stopped or doesn’t work properly
Drop your watch to your nearest service center
After a diagnostic by our watchmakers, one of the 3 following services will be offered to you
            </p>
        </div>
    </div>
    <div class="pamp">
        <div class="pamp-c">
            <h1> LIGHT INTERVENTION</h1>
            <p>
                Battery replacement, shortening of the strap or bracelet, waterproofing check, etc.
            </p>
        </div>
        <img class="test , pampi" src="ervice/5.avif">
    </div>
    <div class="pamp">
        <img class="test , pampi" src="ervice/4.avif">
        <div class="pamp-c">
            <h1> PARTIAL MAINTENANCE</h1>
            <p>
                Replacing the battery or adjusting the accuracy of a mechanical watch with replacement of the elements ensuring the watch's water-resistance (seals, crown, pushers, etc.)
            </p>
        </div>
    </div>
    <div class="pamp">
        <img class="test , pampi" src="ervice/6.avif">
        <div class="pamp-c">
            <h1> COMPLETE MAINTENANCE</h1>
            <p>
                Complete disassembly of the movement for cleaning, oiling and replacement of worn parts or exchange of the movement. Includes all elements of the partial maintenance
            </p>
        </div>
    </div>
    <div class="pamp">
        <div class="pamp-c">
            <h1> THE HISTORY BEHIND YOUR WATCH</h1>
            <p>
                We produce watches since 1853 and keep treasures in our archives. If you own a Tissot collector watch, we can tell you the history of your watch. This historical research service, which is available for watches that are no longer part of the current collection, incurs a charge. 
            </p>
            <form action="/service1" method="post" >
                <button class="acc-btn , service-btn" name="acc" value="register" type="Submit">HISTORY</button>
            </form>
        </div>
        <img class="test , pampi" src="ervice/7.avif">
    </div>
    <div class="pamp">
        <img class="test , pampi" src="ervice/8.avif">
        <div class="pamp-c">
            <h1> ASK US A QUESTION</h1>
            <p>
                Get support from our dedicated team.
                tell us about your problem and we will find the best way to solve it in minimal time.
            </p>
            <form action="/service2" method="post" >
                <button class="acc-btn , service-btn" name="acc" value="register" type="Submit">CONTACT US</button>
            </form>
        </div>
    </div>
     
</div>
<%- include("footer") -%>