<%- include("header") -%>
    <div class="discover">
        <div class="dis">
            <h1 class="home-container">Grab<br>Our Latest<br>Women's Collection</h1>
            <img class="test" src="/female.avif" >
        </div>
        <div class="watches">
            <a href="/payment" class="watch">
                <img src="/Women/1.avif">
                <h2>Tissot Premium Leather</h2>
                <h2>Buy Now</h2>
                <h2>$900.75</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Women/2.avif">
                <h2>Tissot Premium Leather</h2>
                <h2>Buy Now</h2>
                <h2>$900.75</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Women/3.avif">
                <h2>Tissot Premium Leather</h2>
                <h2>Buy Now</h2>
                <h2>$900.75</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Women/4.avif">
                <h2>Tissot Premium Leather</h2>
                <h2>Buy Now</h2>
                <h2>$900.75</h2>
            </a>
        </div>
        <div class="watches">
            <a href="/payment" class="watch">
                <img src="/Women/5.avif">
                <h2>Tissot Classic Leather</h2>
                <h2>Buy Now</h2>
                <h2>$823.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Women/6.avif">
                <h2>Tissot Classic Leather</h2>
                <h2>Buy Now</h2>
                <h2>$823.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Women/7.avif">
                <h2>Tissot Classic Leather</h2>
                <h2>Buy Now</h2>
                <h2>$823.00</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Women/8.avif">
                <h2>Tissot Classic Leather</h2>
                <h2>Buy Now</h2>
                <h2>$823.00</h2>
            </a>
        </div>
        <div class="watches">
            <a href="/payment" class="watch">
                <img src="/Women/9.avif">
                <h2>Tissot Skeleton Queen</h2>
                <h2>Buy Now</h2>
                <h2>$780.21</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Women/10.avif">
                <h2>Tissot Skeleton Queen</h2>
                <h2>Buy Now</h2>
                <h2>$780.21</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Women/11.avif">
                <h2>Tissot Skeleton Queen</h2>
                <h2>Buy Now</h2>
                <h2>$780.21</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Women/12.avif">
                <h2>Tissot Skeleton Queen</h2>
                <h2>Buy Now</h2>
                <h2>$780.21</h2>
            </a>
        </div>
        <div class="watches">
            <a href="/payment" class="watch">
                <img src="/Women/13.avif">
                <h2>Tissot Flaming Empress</h2>
                <h2>Buy Now</h2>
                <h2>$970.25</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Women/14.avif">
                <h2>Tissot Flaming Empress</h2>
                <h2>Buy Now</h2>
                <h2>$970.25</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Women/15.avif">
                <h2>Tissot Flaming Empress</h2>
                <h2>Buy Now</h2>
                <h2>$970.25</h2>
            </a>
            <a href="/payment" class="watch">
                <img src="/Women/16.avif">
                <h2>Tissot Flaming Empress</h2>
                <h2>Buy Now</h2>
                <h2>$970.25</h2>
            </a>
        </div>
    </div>
    <%- include("footer") -%>